@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.scontainer {
  width:500px;
  height:500px;
  margin:0 auto;
  margin-top:100px;
  overflow:auto;
  background-image:url(https://images2.imgbox.com/d7/33/LkIWQSzt_o.png);
  background-size:750px;
}

.sgradient {
  background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.8));
  padding:20px;

}

.sbody {
  text-align:justify;
  padding: 20px;
  font: 12px PT Sans;
  line-height:150%;
  color:#eee;
}

.stext {
  background-image: linear-gradient(to right, #F9F871, #ffa3a4, #453363);
background-clip:text;
  -webkit-background-clip:text;
  color: transparent;
  display:inline;
}

.torch {
  transition-duration: 2s;
  font-weight:bold;
  display:inline;
}

.torch:hover {
  color:#F9F871;
}

::selection { text-shadow: 0px 0px 1px #F9F871; }

.scontainer::-webkit-scrollbar {   
  width:1px;
  background:#eee;
}

.scontainer::-webkit-scrollbar-thumb {
  background:#fcab40;
}

.torchlight {
  cursor: url('https://images2.imgbox.com/15/63/88s2mTUf_o.png'), auto;
}
