@import url('https://fonts.googleapis.com/css?family=PT+Sans');



body {
   background-image:url(https://images.unsplash.com/photo-1508020963102-c6c723be5764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0);
  background-size:cover;
}

.scontainer {
  width:80vw;
  height:80vh;
  margin:0 auto;
  margin-top:100px;
  overflow:auto;
}

.sgradient {
  background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.8));
  padding:20px;

}

.sbody {
  text-align:justify;
  padding: 20px;
  font: 1em PT Sans;
  line-height:150%;
  color:#eee;
  white-space:pre-line;
}

.stext {
  background-image: linear-gradient(to right, #F9F871, #ffa3a4, #453363);
background-clip:text;
  -webkit-background-clip:text;
  color: transparent;
  display:inline;
}

.torch {
  transition-duration: 2s;
  font-weight:bold;
  display:inline;
}

.torch:hover {
  color:#F9F871;
}

::selection { text-shadow: 0px 0px 1px #F9F871; }

.scontainer::-webkit-scrollbar {   
  width:1px;
  background:#eee;
}

.scontainer::-webkit-scrollbar-thumb {
  background:#fcab40;
}

.torchlight {
  cursor: url('https://images2.imgbox.com/15/63/88s2mTUf_o.png'), auto;
}
